.header_cardapio {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    width: 100%;

    background-color: #2C2C2C;

}

.tamanho_logoDM_Cardapio {
    width: 300px;
    margin-left: 2vw;
    cursor: pointer;
}

.header__informacoes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    width: 100%;
    height: 100%;

/*     background-color: purple; */
}

.header__informacoesPedido {
    display: inline-block;
    width: 100px;
    text-align: center;
    border-radius: 4px;
    width: 10vw;

    margin-right: 18vw;

    color: white;
    font-size: 15px;
/*     background-color: palegoldenrod; */


}

.header__informacoes__valores {
    display: flex;
    text-align: center;
    width: 15vw;
    height: 80%;
}

.btn-Carrinho {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 14vw;
    height: 80%;

    border-radius: 10px;
    border: 2px solid black;

    background-color: #f44734;
    color: white;
    font-weight: bold;
    cursor: pointer;

    margin-right: 1vw;
}

.btn-Carrinho:hover {
    background-color: rgb(164, 3, 3)
}

.size_IconCarrinho {
    font-size: 30px;
    margin-right: 2px;
}

.btn-EncerrarPedido {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 14vw;
    height: 80%;
    border-radius: 10px;
    border: 2px solid black;
    background-color: #f44734;
    color: white;
    font-weight: bold;
    cursor: pointer;

    margin-right: 1vw;
}

.btn-EncerrarPedido:hover {
    background-color: rgb(164, 3, 3);
    color: yellow;

}


/* ----------- Cardapio ------------*/
.cardapio-global {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: #DDDDDD;


}

.categorias-cardapio {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    gap: 20px;

    margin-top: 10vh;

}

.produtos-cardapio {
    display: flex;
    flex-direction: column;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 1em;
    /*   background-color: rgb(127, 255, 131);  */
}

.cardapio-linha {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    gap: 1em;
    /*    background-color: burlywood; */
}

.cardapio-celula {
    display: flex;
    justify-content: space-between;
    background-color: white;
    /* width: 41vw; */
    width: 670px;
    height: 220px;
    padding: 0.5em;
    border-radius: 10px;

}

.areaImagem {
    display: flex;
    width: 200px;
    height: 200px;

}

.imagemProduto {
    width: 200px;
    height: 200px;
}


/* -------  Informacoes produto ------*/

.informacoes_produto {
    display: flex;
    flex-direction: column;
    width: 450px;
    justify-content: center;
    text-align: center;
    /*     background-color: antiquewhite; */

}

.id_produtoCardapio {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 30px;
    font-size: 1rem;

    background-color: #fbf5f5;
    color: black;
    font-weight: bold;
    border-bottom: 5px solid #f44734;

}

.nome-produtoCardapio {
    color: black;
    font-size: 2.5em;
    font-weight: bold;


}

.preco-produtoCardapio {
    color: black;
    font-size: 1.5rem;
    margin-top: 0px;
}

.descricao-produtoCardapio {
    color: black;
    font-size: 1rem;
}


/* ---------- Botoes  --------*/

.categoriaSelecionada {
    background-color: black;
}

.botao-categoria.active {
    color: black;
    background-color: white;
    font-weight: bold;
}

.botao-categoria.active:hover {
    color: black;

}

.botao-categoria {
    background-color: #f44734;
    border: 2px solid #f44734;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 10%;
    margin-top: 1%;
}


.botao-categoria:hover {
    color: black;
    font-weight: bold;
    background-color: white;
}

.btn-AdicionarProdutoCarrinho {
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 10px;
    /*   background-color: #f44734; */

}


.btn-AdicionarProdutoCarrinho button {
    color: white;
    font-weight: bold;
    width: 15vw;
    height: 40px;

    border: 1px solid white;
    border-radius: 10px;
    cursor: pointer;
    background-color: #f44734;
}

.btn-AdicionarProdutoCarrinho button:hover {
    background-color: rgb(164, 3, 3)
}




@media (max-width: 1200px) and (orientation: landscape) {
    td {
        width: 47%;
    }


    .informacoes__produto__texto {
        font-size: 0.9em;
    }

    .botaoAdicionar {
        font-size: 0.8em;
        height: 30px;
        width: 120px;
    }

    .header__informacoes__valores {
        width: 100px;
    }

    .header__informacoes {
        gap: 10%;
    }

}