* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.border{
    border: 1px solid red;
}

.body-sidebar{
    height: 100vh;
    width: 100%;
}



/* ------ BOTAO CADASTRO DOS COMPONENTES -------*/
.btn-cadastrarSistema {
    position: relative;
    width: 370px;
    height: 80px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 1px solid  rgb(0, 0, 0);
    background-color:  rgb(255, 166, 0);

    margin-top: 5vh;

    border-radius: 10px;
  }
  
  .btn-cadastrarSistema, .btn-cadastrarSistema__icon, .btn-cadastrarSistema__text {
    transition: all 0.3s;
  }
  
  .btn-cadastrarSistema .btn-cadastrarSistema__text {
    transform: translateX(30px);
    color: #fff;
    font-weight: 600;
    font-size: 1.5rem;
  }
  
  .btn-cadastrarSistema .btn-cadastrarSistema__icon {
    position: absolute;
    transform: translateX(289px);
    height: 100%;
    width: 79px;
    background-color:  rgb(245, 159, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
  }
  
  .btn-cadastrarSistema .svg {
    width: 45px;
    stroke: #ffffff;
  }
  
  .btn-cadastrarSistema:hover {
    background:  rgb(255, 166, 0);
    
  }
  
  .btn-cadastrarSistema:hover .btn-cadastrarSistema__text {
    color: transparent;
  }
  
  .btn-cadastrarSistema:hover .btn-cadastrarSistema__icon {
    width: 368px;
    transform: translateX(0);

  }
  
  .btn-cadastrarSistema:active .btn-cadastrarSistema__icon {
    background-color:  rgb(255, 166, 0);
  }
  
  .btn-cadastrarSistema:active {
    border: 1px solid  rgb(255, 166, 0);
    
  }


/* Estilizção do menu lateral */

.menu-lateral{
    width: 270px;
    height: 100%;
    background-color: rgb(44, 44, 44);
    padding: 40px 0px 40px 10px;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    border-right: 4px solid rgb(230, 157, 2);
    transition: all 0.3s;
}

.menu-lateral button{
    height: 60px;
    width: 100%;
    background-color: transparent;
    border: 0;
    font-family: inherit;
    color: #F6F2D9;
    cursor: pointer;
    text-align: left;
    padding: 0;
}

.menu-lateral button > span{
    width: 100%;
    display: inline-flex;
    align-items: center;
    gap: 12px;
    height: 48px;
    padding: 10px 20px 10px 12px;
    border: 24px;
    line-height: 1;
    transition: all 0.3s;
    margin-top: 40px;
}

.menu-lateral button:hover > span{
    background-color: rgb(230, 157, 2);
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    
}

.menu-lateral button i{
    position: relative;
    font-size: 40px;
    transition: 0.2s;
}

.menu-lateral button span{
    font-size: 20px;
    font-weight: bold;
}

.menu-lateral > nav{
    flex: 1 1 auto;
}

.ativo{
    background-color: rgb(230, 157, 2);
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}


/* Estilização Logo */

.div-logo{
    width: 100%;
    padding: 20px;
    transition: all 0.3s;
}

.btn-logo{
    display: flex;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
}

.btn-logo:hover{
    transform: scale(1.1);
    transition: 0.4s;
}

.logoDM{
    width: 200px;
    object-fit: cover;
}

/* Estilizando logo 2 */

.div-logo2{
    width: 100%;
    height: 48px;
    padding: 10px 20px 10px 12px;
    margin-top: -85px;
    margin-bottom: 30px;
    align-items: center;
    display: flex;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
    background-color: red;
}

.div-logo2:hover{
    background-color: rgb(230, 157, 2);
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

/*  Ajustando Outlet  */

.container-info{
    margin-left: 270px;
    height: 100%;
    background-color: rgb(80, 80, 80);
    transition: 1s;
}

    
/* Diminuição da tela */

@media(width < 920px){
    .menu-lateral{
        width: 85px;
        transition: all 0.3s;
    }

    .menu-lateral button > span > span{
        opacity: 0;
        visibility: hidden;
    }

    .div-logo{
        opacity: 0;
        visibility: hidden;
    }

    .div-logo2{
        visibility: visible;
        opacity: 1;
    }

    .container-info{
        margin-left: 85px;
        height: 100%;
        background-color: rgb(80, 80, 80);
        transition: 0.5s;
    }
}





