@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Nabla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lobster&family=Nabla&display=swap');

.main-client {
    background-color: #525252;
    height: 100vh;
}

.client_principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5vh;
}

.div_principal_client {
    background-color: white;
    border: 3px solid #f44734;


    margin-left: 20vw;
    margin-right: 20vw;

    border-radius: 30px;

    padding-top: 20px;
    padding-left: 60px;
    padding-right: 60px;

    /* min-height: 50vh; */
    overflow-y: auto;
    height: 50vh;




}

/* -------------------- TEXTO --------------------*/

.client_mensagem {
    text-align: center;
    color: white;
    margin-bottom: 2vh;


}

.restaurante_nome {
    font-size: 3rem;

    font-family: 'Lobster';

}

.restaurante_descricao {
    display: flex;
    flex-direction: row;
    justify-content: center;

    font-size: 1.5rem;
    font-family: 'Bebas Neue';


}

.restaurante_descricao_destaque {
    font-size: 1.5rem;
    background-color: #f44734;
    font-family: 'Bebas Neue';
    padding-left: 5px;
    padding-right: 5px;

    margin-left: 5px;
    height: 30px;
}

.txt-escolhaMesa {
    text-align: center;
    font-size: 2rem;
    font-family: 'Bebas Neue';
}


/* ------------ Botoes ------------*/
.btn_logo_client {
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.tam_logo_client {
    width: 300px;
    margin-left: 2vw;
    margin-top: 1%;
}

.btn_logo_client:hover {
    transform: scale(1.1);

}


.btn_home_client {
    margin-right: 2vw;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 60px;

}

.btn_home_client i {
    font-size: 50px;
    color: white;
    cursor: pointer;
}


/* ------------ Mesa Container ------------*/

.mesas-container {
    /*     display: grid;
    grid-template-columns: repeat(auto-fill, minmax(80px, 2fr)); */
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    
    margin-top: 5px;
    margin-bottom: 30px;


}

.mesas {
    width: 100px;
    font-weight: bold;
    background-color: gainsboro;
    border-radius: 40px;
    font-size: 2rem;
    text-align: center;

    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;

}

.mesas:hover {
    font-weight: bold;
    font-size: 2rem;
    cursor: pointer;
    transition: all 0.2s;
    text-align: center;
    cursor: pointer;
    transform: scale(1.1);
    border-bottom: 5px solid #f44734;
}


.icone-customizado {
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    color: red;
    transform: scale(1.1);
}