/* HEADER */
.home_cabecalho {
    display: flex;
    align-items: center;
    height: 10vh;
    background-color: #2C2C2C;
    justify-content: space-between;
}

.home_dmLogo {
    width: 300px;
    margin-left: 2vw;
    cursor: pointer;
}

.btn_sair_home {
    margin-right: 2vw;
    background-color: transparent;
    border: none;

}

.btn_sair_home i {
    font-size: 50px;
    color: white;
    cursor: pointer;
}



/* APRESENTACAO */
.home_apresentacao {
    display: grid;
    background: linear-gradient(90deg, rgba(246,242,217,1) 0%, rgb(249, 242, 197) 50%, rgba(246,242,217,1) 100%);
    grid-template-columns: 1fr 1fr 2fr 2fr 1fr 1fr;
    grid-template-rows: 5vh 40vh 40vh 5vh;

    width: auto;
    height: auto;
}

.home_imagem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

/*     background-color: #ff0000; */
    grid-row: 2/4;
    grid-column: 2/4;
}

.fotoApresentacao {
    width: 50vw;
}

/* OPCOES */
.home_opcoes {
    grid-row: 2/4;
    grid-column: 4/6;
/*     background-color: #2C2C2C; */
    display: flex;
    flex-direction: column;

    text-align: center;
    margin-left: 5vw;
}

.btn_opcoes_home {
    background-color: #E45647;
    color: white;
    font-weight: bold;
    margin-right: 10vw;

    height: 10vh;
    margin-bottom: 10px;

    font-size: 2rem;
    border-radius: 1.5rem;

}

.btn_opcoes_home:hover {
    background-color: #2C2C2C;
    cursor: pointer;
}

.home-entrar-DigitalMenu {
    color: #E45647;
    text-align: left;
    font-size: 4rem;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    margin-right: 5vw;


}

.home-entrar-descricao {
    color: rgb(82, 81, 81);
    text-align: left;
    font-size: 1.5rem;
    margin-right: 5vw;

}